body {
    background-color: black;
    color: white ;
	font-size: 14pt;
}

/*Site Header*/
header{
  border-bottom: solid;
}

header > h1{
    font-size: 48px;
    font-family: Helvetica, arial serif;
    font-weight: lighter;

    margin-top: 20px;
  	margin-bottom: 0px;
  	margin-left: 15px;
}

header > h4 {
    font-size: 20px;
    font-family: arial, serif;
    font-weight: lighter;

    text-align: left;
    margin-left: 50px;
  	margin-top: 0px;
}


/*Links*/
a {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 18px;
    font-family: arial;
    text-decoration: none;
    color: silver;
}

a:hover {
	color: whitesmoke;
}

/*Main Content*/

h2 {
    font-family: helvetica, arial, sans-serif;
    font-weight: lighter;

    text-align: center;
}

h2, h4 {
  font-family: helvetica, arial, sans-serif;
    font-weight: lighter;

}

/*About Me*/
#main{
  font-family: helvetica;
  text-align: left;
  background-color: #030324;
  border-style: inset;
}

#ec{
  border-style: inset;
}

/*Areas of Expertise*/

.frontEnd{
  
  margin-left: 20px;
}

/*Projects*/

/*footer*/
footer {
  border-top: solid;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  height: 475px;
}


#copyright{
  font-family: helvetica;
  width: 100%;
  border-top: .5px solid;
}

/*Form*/

form{
  width: 10%;
  min-width: 200px;
  margin-left: auto;
  margin-right: 680px;
  
}

label{
  font-family: helvetica, arial, serif;
}

input[type=email], input[type=textbox] {
  height: 20px;
}

textarea{
  height: 125px;
}

input[type=email], input[type=textbox], textarea {
  
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
 
}

input[type=submit] {
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form > h4{
  width: 50%;
}

.container {
  padding: 20px;
}